.about {
  background-color: var(--primary-color);
  color: var(--terText-color);
  padding: 70px 0;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.containerFlex {
  display: flex;
  flex-direction: column;
}

.about .headerNum {
  color: var(--accent-color);
  margin-right: 10px;
}

.about .aboutMe {
  color: var(--prytext-color);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.about .aboutMe::after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid var(--terText-color);
  opacity: 0.3;
  margin: auto;
  margin-left: 30px;
}

.social .aboutImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .aboutImg {
  border-radius: 4px;
  border: 2px solid transparent;
  outline: 2px solid var(--accent-color);
  margin-top: 30px;
}

@media (min-width: 768px) {
  .about .aboutMe::after {
    width: 200px;
  }

  .about .aboutDescription {
    display: flex;
  }

  .about .aboutInfo {
    flex-grow: 2;
    flex-basis: 400px;
    margin-right: 90px;
  }

  .about .aboutImg {
    flex-grow: 1;
    flex-basis: 300px;
    width: 280px;
    height: 280px;
  }
}
