/* general styles */
.navbar a {
  display: block;
  text-decoration: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* navbar */
.navbar {
  height: 80px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  font-size: 1.2rem;
}

.navbar .logo {
  color: var(--accent-color);
  font-size: 1.4rem;
}

.navbar .menu {
  display: flex;
  gap: 20px;
}

.navbar .nav__link {
  color: var(--sectext-color);
  transition: 0.3s all ease;
  font-size: 1.2rem;
}

.navbar .nav__link:hover {
  color: var(--acccent-color);
}

.nav__icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: relative;
  }

  .navbar .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--mobile-color);
    text-align: center;
    width: 70%;
    height: 100vh;
    top: 60px;
    right: -100%;
    transition: all 0.5s ease-out;
  }

  .navbar .menu.active {
    background-color: var(--mobile-color);
    right: 0;
  }

  .navbar .nav__item {
    padding: 10px 0;
  }

  .navbar .nav__icon {
    display: flex;
    transition: all 0.5s ease-out;
  }
}
