.nav {
  background-color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px 32px;
  width: 100%;
  z-index: 3;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  font-family: var(--secondary-font);
}

.nav .logo {
  flex-basis: 30%;
  max-width: 30%;
  /* width: fit-content; */
  padding: 10px 20px;
  color: var(--accent-color);
  font-size: 1.3rem;
}

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--tertiary-color);
}

.nav li {
  margin: 0 5px;
}

.nav .navlink {
  padding: 15px 5px;
  color: var(--prytext-color);
  cursor: pointer;
  font-size: 1rem;
}

.nav .navlink:hover,
.nav .navlink:focus {
  color: var(--accent-color);
  /* text-decoration: underline; */
}

.nav .resumeBtn {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  line-height: 0;
  padding: 25px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 25px;
  align-self: center;
}

.nav .resumeBtn:hover,
.nav .resumeBtn :focus {
  background: hsl(166 100% 70% / 0.2);
}

/* menu */
.nav .menu {
  clear: both;
  flex-basis: 100%;
  max-width: 100%;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.nav .menuIcon {
  display: flex;
  flex-basis: 39%;
  justify-content: flex-end;
  cursor: pointer;
  max-width: 39%;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav .menuIcon .navIcon {
  background: var(--accent-color);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.nav .navIcon::before,
.nav .navIcon::after {
  background-color: var(--accent-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.nav .navIcon::before {
  top: 6px;
}

.nav .navIcon:after {
  top: -6px;
}

/* menu btn */
.nav .menuBtn {
  display: none;
}

.nav .menuBtn:checked ~ .menu {
  max-height: 100%;
}

.nav .menuBtn:checked ~ .menuIcon .navIcon {
  background: transparent;
}

.nav .menuBtn:checked ~ .menuIcon .navIcon::before {
  transform: rotate(-45deg);
}

.nav .menuBtn:checked ~ .menuIcon .navIcon::after {
  transform: rotate(45deg);
}

.nav .menuBtn:checked ~ .menuIcon:not(.steps) .navIcon::before,
.nav .menuBtn:checked ~ .menuIcon:not(.steps) .navIcon::after {
  top: 0;
}

/* media query - 768px */
@media (min-width: 768px) {
  .nav {
    flex-wrap: inherit;
  }

  .nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav li {
    float: left;
  }

  .nav .navlink {
    padding: 20px 20px;
  }

  .nav .resumeBtn {
    margin-top: 0;
  }

  .nav .menu {
    clear: none;
    flex-basis: inherit;
    max-height: none;
    max-width: inherit;
  }

  .nav .menuIcon {
    display: none;
  }
}
