:root {
  /* Colors */
  --primary-color: hsl(215.7 64.9% 11.2%);
  --mobile-color: hsl(215.7 64.9% 11.2%);
  --secondary-color: hsl(215, 50%, 18%);
  --tertiary-color: hsl(218, 58%, 16%);
  --navmenu-color: hsl(218, 58%, 16%);
  --accent-color: hsl(166, 100%, 70%);
  --prytext-color: hsl(225.7 70% 88.2%);
  --sectext-color: hsl(225.4 30.8% 73.9%);
  --terText-color: hsl(225,20.2%,61.2%);

  /* Fonts */
  --primary-font: 'Prociono', serif;
  --secondary-font: 'Raleway', sans-serif;
}
